<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rossvyaz File Import</title>
</head>
<body>
    <h1>Rossvyaz File Import</h1>
    <p>Example csv:</p>
    <pre>first_code;from_code;to_code;block_size;operator;region;mnc
900;"0000000";"0061999";62000;"Т2 Мобайл" ООО;25;20</pre>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>import_file: {{ form.import_file }}</p>
        <p>phone_type: {{ form.phone_type }}</p>
        <p>with_clean_region: {{ form.with_clean_region }}</p>
        <p>coding: {{ form.coding }}</p>
        <p>
            <input type="submit" />
        </p>
    </form>
    {% if errors %}
        <p>Errors: {{ errors }}</p>
    {% endif %}
    {% if success %}
        <p>Success!</p>
    {% endif %}
</body>
</html>
